{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_activity_activity_list' %}

{% block title %}{{ 'Activity list' |trans }}{% endblock title %}

{% block personcontent %}
    <table class="records_list">
        <thead>
            <tr>
                <th class="chill-red">{{'Date' | trans }}</th>
                <th class="chill-green">{{'Duration Time' | trans }}</th>
                <th class="chill-orange">{{'Reason' | trans}}</th>
                <th>{{'Type' | trans}}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{% if activity.date %}{{ activity.date|localizeddate('long', 'none') }}{% endif %}</td>
                <td>{{ activity.durationTime|date('H:i') }}</td>
                <td>{{ activity.reason.name | localize_translatable_string }}</td>
                <td>{{ activity.type.name | localize_translatable_string }}</td>
                <td>
                    <a href="{{ path('chill_activity_activity_show', { 'id': activity.id, 'person_id': person.id }) }}" class="sc-button black">{{ 'Show' | trans }}</a>
                </td>
                <td>
                    <a href="{{ path('chill_activity_activity_edit', { 'id': activity.id, 'person_id': person.id }) }}" class="sc-button bt-update">{{ 'Edit' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('chill_activity_activity_new', {'person_id': person.id}) }}" class="sc-button bt-create">
            {{ 'Add a new activity' | trans }}
        </a>
    </p>
{% endblock %}
