{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_activity_activity_list' %}

{% block personcontent -%}
    <h2 class="chill-red">{{ "Activity"|trans }}</h1>
    
    <dl>
        <dt class="inline">{{ 'Person'|trans }}</dt>
        <dd>{{ entity.person }}</dd>
        <dt class="inline">{{ 'Scope'|trans }}</dt>
        <dd><span class="scope">{{ entity.scope.name|localize_translatable_string }}</span></dd>
        <dt class="inline">{{ 'Date'|trans }}</dt>
        <dd>{{ entity.date|localizeddate('long', 'none') }}</dd>
        <dt class="inline">{{ 'Duration Time'|trans }}</dt>
        <dd>{{ entity.durationTime|date('H:i') }}</dd>
        <dt class="inline">{{ 'User'|trans }}</dt>
        <dd>{{ entity.user }}</dd>
        <dt class="inline">{{ 'Reason'|trans }}</dt>
        <dd>{{ entity.reason.name | localize_translatable_string }}</dd>
        <dt class="inline">{{ 'Type'|trans }}</dt>
        <dd>{{ entity.type.name | localize_translatable_string }}</dd>
        <dt class="inline">{{ 'Attendee'|trans }}</dt>
        <dd>{% if entity.attendee is not null %}{% if entity.attendee %}{{ 'present'|trans|capitalize }} {% else %} {{ 'not present'|trans|capitalize }}{% endif %}{% else %}{{ 'None'|trans|capitalize }}{% endif %}</dd>
        <dt class="inline">{{ 'Remark'|trans }}</dt>
        <dd>{% if entity.remark is empty %}{{ 'No remarks'|trans }}{% else %}<pre>{{ entity.remark }}</pre>{% endif %}</dd>
        <dt class="inline">{{ ''|trans }}</dt>
        <dd></dd>
        <dt class="inline">{{ ''|trans }}</dt>
        <dd></dd>
    </dl>

    <a class="sc-button bt-update" href="{{ path('chill_activity_activity_edit', { 'id': entity.id, 'person_id': person.id }) }}">
        <i class="fa fa-pencil"></i> {{ 'Edit the activity'|trans }}
    </a>
{% endblock personcontent %}
